* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 300px;
    height: 300px;
    background-color: #a7b8a7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.box-shadow-code {
    color: black;
    padding: 15px;
    width: 100%;
    font-size: 20px;

}
.settings-block{
    display: flex;
    flex-direction: column;

}

.grid__col_6 {
    display: grid;
    grid-column-gap: 90px;
    width: 100%;
    height: 100vh;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.shadow {
    font-family: "Rage Italic", sans-serif;
    height: 100vh;
    background: url("../images/bg-tours.png")no-repeat center/cover;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;

}

.shadow__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.label{
    margin:15px 0;
}
input[type=range]{
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
input[type=range]{
    border: 1px solid white;
    width: 300px;
}
input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}
input[type=range]:focus::-moz-range-track {
    background: #ccc;
}
input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}


